[user]
	name = Josh O'Rourke
	email = joshorourke@me.com
[diff]
	tool = vscode
[difftool]
	prompt = false
[push]
	default = simple
[core]
	editor = vim
	ignorecase = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[alias]
	clean-branches = !git branch | grep -v master | xargs git branch -D
[pull]
	rebase = false
