[user]
	name = Josh O'Rourke
	email = joshorourke@me.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[push]
	default = simple
[core]
	editor = /usr/bin/vim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
